{% extends 'blank_template.html' %}

{% load static i18n %}

{% block title %}{% trans 'Certificate List' %}{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Certificates</h1>
    <form method="get" class="row mb-4">
        <div class="col-md-4">
            <div class="form-floating">
                <input type="text" name="q" class="form-control" id="floatingSearch" placeholder="Search" value="{{ request.GET.q }}">
                <label for="floatingSearch">{% trans 'Search by Name or ID Number' %}</label>
            </div>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary w-100">{% trans 'Search' %}</button>
        </div>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Document Number' %}</th>
                <th>{% trans 'Certificate ID' %}</th>
                <th>{% trans 'Step' %}</th>
                <th>{% trans 'Approved Status' %}</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for certificate in certificates %}
            <tr>
                <td>{{ certificate.name }}</td>
                <td>{{ certificate.document_number }}</td>
                <td>{{ certificate.id }}</td>
                <td>{{ certificate.step }}</td>
                <td>
                    {% if certificate.approved %}
                        <i class="fas fa-check-circle text-success"></i>
                    {% else %}
                        <i class="fas fa-times-circle text-danger"></i>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'certificates:detail' certificate.id %}" class="btn btn-sm btn-outline-success">View</a>
                </td>
                <td>
                    <a href="{% url 'admin:certificates_certificatemodel_change' certificate.id %}" class="btn btn-sm btn-outline-warning">{% trans 'Edit' %}</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">{% trans 'No certificates found.' %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
