{% extends 'certificate_base.html' %}

{% load static i18n %}

{% block title %}{% trans 'Verify your Certificate' %}{% endblock title %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-4 text-center">{% trans 'Verify your Certificate' %}</h1>
    
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-md-6">
                {{ form.non_field_errors }}
                <div class="form-floating mb-3">
                    <select name="{{ form.document_type.name }}"
                            id="floatingDocumentType"
                            class="form-select{% if form.document_type.errors %} is-invalid{% endif %}">
                        {% for choice in form.document_type.field.choices %}
                            <option value="{{ choice.0 }}"
                                    {% if choice.0 == form.document_type.value %}selected{% endif %}>
                                {{ choice.1 }}
                            </option>
                        {% endfor %}
                    </select>
                    <label for="floatingDocumentType">{{ form.document_type.label }}</label>
                    {% if form.document_type.errors %}
                        <div class="invalid-feedback">
                            {{ form.document_type.errors.as_text }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-floating mb-3">
                    <input type="text"
                           name="{{ form.document_number.name }}"
                           id="floatingIDNumber"
                           class="form-control{% if form.document_number.errors %} is-invalid{% endif %}"
                           placeholder="C.C."
                           value="{{ form.document_number.value|default_if_none:'' }}">
                    <label for="floatingIDNumber">{{ form.document_number.label }}</label>
                    {% if form.document_number.errors %}
                        <div class="invalid-feedback">
                            {{ form.document_number.errors.as_text }}
                        </div>
                    {% endif %}
                </div>
                
                {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        {% for message in messages %}
                        <div id="lockout-timer">
                            <p id="remaining-time">{{ message }} {% trans 'Please try again in' %} <span id="time-left">0</span> {% trans 'minutes.' %}</p>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
                
            <button type="submit" class="btn btn-primary w-100">{% trans 'Verify' %}</button>
            </div>
        </div>
        
    </form>
    

    <div class="accordion my-5 vh-100" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                {% trans 'FINAL MEMORIAL TOTAL CLOSURE OF OPERATION' %} 2024 (IMG)
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <img src="{% static 'imgs/final_memorial/1.png' %}" alt="img 1 final memorial" class="img-fluid">
                <img src="{% static 'imgs/final_memorial/2.png' %}" alt="img 2 final memorial" class="img-fluid">
              </div>
            </div>
          </div>
        
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                {% trans 'FINAL MEMORIAL TOTAL CLOSURE OF OPERATION' %} 2024 (PDF)
            </button>
          </h2>
          
          <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body justify-content-center">
                <iframe src="https://fundacionleirion.com/MEMORIALFINALCIERRETOTALDEOPERACION.pdf" width="100%" class="vh-100" style="border: none;"></iframe>
            </div>
          </div>
        </div>


      </div>
</div>

<script>
    function updateRemainingTime() {
        fetch("{% url 'certificates:lockout_time' %}")
            .then(response => response.json())
            .then(data => {
                const remainingTime = data.remaining_time;
                if (remainingTime > 0) {
                    const minutes = Math.floor(remainingTime / 60);
                    const seconds = remainingTime % 60;
                    document.getElementById('time-left').innerText = `${minutes}:${seconds < 10 ? '0' + seconds : seconds}`;
                    document.getElementById('lockout-timer').style.display = 'block';
                } else {
                    document.getElementById('lockout-timer').style.display = 'none';
                }
            })
            .catch(error => console.error('Error fetching lockout time:', error));
    }

    document.addEventListener('DOMContentLoaded', function() {
        updateRemainingTime();
        setInterval(updateRemainingTime, 10*1000);
    });
</script>
{% endblock content %}

{% block footer %}
    {% include 'partials/footer.html' %}
{% endblock footer %}