{% extends 'certificate_base.html' %}

{% load static i18n %}

{% block title %}{% trans 'Certificate Details' %}{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="mx-auto">
        <div class="text-center mb-4">
            <h2>{% trans 'Suitability Verification' %}</h2>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="{% static 'imgs/badge/certificate_badge.png' %}" alt="Certificate Badge" class="mb-4" style="width: 150px;">
            </div>

            <div class="col-md-8">
                <div>
                    <h3>{{ certificate.name }}</h3>
                    <p class="mb-1"><strong>{% trans 'ID Number:' %}</strong> {{ certificate.masked_document_number }}</p>
                    <p><strong>{% trans 'Certificate ID:' %}</strong> {{ certificate.id }}</p>
                    <hr>
                    <p class="text-justify">
                            <strong>{{ certificate.name }}</strong>
                            {% trans 'with document number' %} {{ certificate.masked_document_number }}
                            {% blocktrans %}
                                qualifies as a beneficiary, who has undergone a security study and accreditation of judicial records in accordance with the regulations in force in the Republic of Colombia; 
                                and consequently, it does <strong>NOT</strong> present judicial or disciplinary records by the certifying entities authorized by Colombian legislation, 
                                which affect its suitability for the date September 20, 2024
                            {% endblocktrans %}
                    </p>
                    <p>
                        {% trans 'Stage:' %} {{ certificate.step }}
                    </p>
                    <p>
                        {% trans 'Status:' %} 
                        {% if certificate.approved %}
                            <i class="fas fa-check-circle text-success"></i>
                        {% else %}
                            <i class="fas fa-times-circle text-danger"></i>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        
        
        <div class="card-footer text-muted text-center mb-5">
            &copy; {{ now|date:"Y" }} {% trans 'Propensiones Abogados S.A.S. for the Leirion Foundation' %}
        </div>
    </div>
</div>
{% endblock content %}