{% extends 'base.html' %}

{% load static i18n %}

{% block title %}Certificate Details{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="mx-auto" style="max-width: 800px;">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="text-center">
                    <h2>{% trans 'Suitability Verification' %}</h2>
                </div>
            </div>

            <div class="col-4">
                <img src="{% static 'imgs/badge/certificate_badge.png' %}" alt="Certificate Badge" class="mb-4" style="width: 150px;">
            </div>

            <div class="col-8">
                <div>
                    <h3>{{ certificate.name }}</h3>
                    <p class="mb-1"><strong>{% trans 'ID Number:' %}</strong> {{ certificate.masked_document_number }}</p>
                    <p><strong>{% trans 'Certificate ID:' %}</strong> {{ certificate.id }}</p>
                    <hr>
                    <p class="text-justify">
                            <strong>{{ certificate.name }}</strong>
                            {% trans 'with C.C.' %} {{ certificate.masked_document_number }}
                            {% blocktrans %}
                                qualifies as a beneficiary, who has undergone a security study and accreditation of judicial records in accordance with the regulations in force in the Republic of Colombia; 
                                and consequently, it does <strong>NOT</strong> present judicial or disciplinary records by the certifying entities authorized by Colombian legislation, 
                                which affect its suitability for the date September 20, 2024
                            {% endblocktrans %}
                            
                    </p>
                </div>
            </div>
        </div>
        
        
        <div class="card-footer text-muted text-center">
            &copy; {{ now|date:"Y" }} Fundación Leirion & Propensiones Abogados S.A.S.
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}
    {% include 'partials/footer.html' %}
{% endblock footer %}