{% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="PRAGMA" content="NO-CACHE" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="{% trans 'Certificates | Fundación Leirion' %}" name="title" />
    <meta content="{% trans 'Certificates | Fundación Leirion' %}" property="og:title" />
    <meta content="{% static 'imgs/favicon/favicon-16x16.png' %}" property="og:image"/>
    <meta content="https://cbh.fundacionleirion.com/" property="og:url" />
    <meta content="Fundación Leirion" property="og:site_name" />
    <meta content="{% trans 'Fundación Leirion certificates' %}" property="og:description"/>
    <meta content="{% trans 'Fundación Leirion certificates' %}" name="description" />
{% endblock meta %}
