{% load static i18n %}

<nav class="navbar bg-body-tertiary navbar-expand-lg sticky-top">
  <div class="container">
    <a class="navbar-brand text-capitalize" href="{% url 'core:index' %}">{% trans 'CHB' %}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title text-capitalize" id="offcanvasNavbarLabel">{% trans 'CHB' %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">{% trans 'Certificates' %}</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item text-capitalize" href="{% url 'certificates:input' %}">{% trans 'Verify' %}</a>
              </li>
              {% if request.user.is_authenticated and request.user.is_staff %}
                <li>
                  <a class="dropdown-item text-capitalize" href="{% url 'certificates:list' %}">{% trans 'List' %}</a>
                </li>
                <li>
                  <a class="dropdown-item text-capitalize" href="{% url 'certificates:form' %}">{% trans 'Form' %}</a>
                </li>
              {% endif %}
            </ul>
          </li>
          {% comment %}
          <li class="nav-item">
            <a class="nav-link text-capitalize active" href="{% url 'core:index' %}">{% trans 'Home' %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-capitalize" href="{% url 'core:index' %}">{% trans 'Bonds' %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-capitalize" href="{% url 'core:index' %}">{% trans 'Categories' %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-capitalize" href="{% url 'core:index' %}">{% trans 'Locations' %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-capitalize" href="{% url 'sales:sales' %}">{% trans 'Sales' %}</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">{% trans 'Reports' %}</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item text-capitalize" href="{% url 'core:index' %}">{% trans 'Bonds' %}</a>
              </li>
              <li>
                <a class="dropdown-item text-capitalize" href="{% url 'core:index' %}">{% trans 'Sales' %}</a>
              </li>
            </ul>
          </li>
          {% endcomment %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">{% trans 'Language' %}</a>
            <ul class="dropdown-menu">
              {% for lang in LANGUAGES %}
                <li>
                    <a class="dropdown-item text-capitalize" href="{% url 'set_language' %}?lang={{ lang.0 }}">
                        {{ lang.1 }}
                    </a>
                </li>
              {% endfor %}
            </ul>
          </li>
        </ul>
        
        {% if request.user.is_authenticated %}
          <a class="btn btn-outline-danger my-2 my-sm-0 text-capitalize" href="{% url 'account:logout' %}">{% trans 'Logout' %}</a>
          
          {% if request.user.is_staff %}
            <a class="btn btn-outline-warning m-2 my-sm-0 text-capitalize" href="{% url 'admin:index' %}">{% trans 'Admin' %}</a>
          {% endif %}
            
        {% else %}
          <a class="btn btn-outline-success my-2 my-sm-0 text-capitalize" href="{% url 'account:login' %}">{% trans 'Login' %}</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
